{% extends "base.html" %} {% block content %}
<h1 class="title">Hey there! 👋</h1>
<p>
  I <del>will</del> write <del>(hopefully soon)</del> about linux, open-source
  software, programming languages 🦀, containers and general tutorials of how to
  use them.
</p>
<p>
  See my GitHub profile from here:
  <a href="https://github.com/unpinned">https://github.com/unpinned</a>
</p>
<p>
  To contact me visit:
  <a href="/contact/">/contact/</a>
</p>
<h3 class="title">Posts:</h3>
<p>
  🪣 To see all my blog posts visit:
  <a href="/blog/">/blog/</a>
</p>
<p>
  ⏰ The most recent post is:
  <a href="/blog/systemd-inside-podman/">Run systemd inside Podman </a>
</p>
<h3 class="title">Projects:</h3>
<p>👀 Nothing to see here yet</p>

{% endblock content %}
